@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Theme Variables */
:root {
  --background: #000000;
  --foreground: #00ff99;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

#bg-video {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
